$mainColor: #46B964
$white: #fff

$textPrimary: #363636
$textSecondary: #757575
$textTertiary: #B1B1B1
$textLink: #007AFF

$bgWhite: #fff
$bgLightGray: #F8F8F8

$error50: #f9ebeb
$error100: #eec0c1
$error200: #e5a2a3
$error300: #d97779
$error400: #d25d5f
$error500: #c73437
$error600: #b52f32
$error700: #8d2527
$error800: #6d1d1e
$error900: #541617

// text-color
.main-color
  color: $mainColor
.text-primary
  color: $textPrimary
.text-secondary
  color: $textSecondary
.text-tertiary
  color: $textTertiary
.text-link
  color: $textLink

.error-text-50
  color: $error50
.error-text-100
  color: $error100
.error-text-200
  color: $error200
.error-text-300
  color: $error300
.error-text-400
  color: $error400
.error-text-500
  color: $error500
.error-text-600
  color: $error600
.error-text-700
  color: $error700
.error-text-800
  color: $error800
.error-text-900
  color: $error900

// background-color
.bg-light-gray
  background-color: $bgLightGray

.error-bg-50
  background-color: $error50
.error-bg-100
  background-color: $error100
.error-bg-200
  background-color: $error200
.error-bg-300
  background-color: $error300
.error-bg-400
  background-color: $error400
.error-bg-500
  background-color: $error500
.error-bg-600
  background-color: $error600
.error-bg-700
  background-color: $error700
.error-bg-800
  background-color: $error800
.error-bg-900
  background-color: $error900

// reset css

// timePicker
.v-picker__title,
.v-time-picker-clock__hand,
.v-time-picker-clock__hand:before,
.v-time-picker-clock__item--active
  background-color: $mainColor